.about-section {
    padding: 50px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Image */
.about-image img {
    width: 300px;
    border-radius: 50%;
    border: 5px solid #00c6ff;
}

/* Content */
.about-content {
    max-width: 500px;
}

.about-content h1 {
    margin-bottom: 20px;
}

.about-content p {
    margin-bottom: 15px;
    line-height: 1.6;
}